@{
    ViewBag.Title = "Contact";
}

<address>
    <strong>Developer:</strong>   <a href="mailto:jeffer@hotmail.com.br">jeffer@hotmail.com.br</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>